form {
  margin: inherit;
}
/* Search box (header)
--------------------------------------------- */
.nav-search-ukrgb {
  margin-bottom: 2px;
}

/*  forum layout  */

ul#nav-search {
  .search-box{
    float: right;
    /* This rule fixes the "search in this forum box, but breaks the forum search.
    .inputbox {
      height: 24.5px;
    }*/
  }
  /*    border-bottom: 1px solid white; */
}

.breadcrumbs a::before {
  content: '';
}

dt {
  font-weight: inherit;
}

dd, dt, li {
  line-height: inherit;
}
.navbar {
  font-size: inherit;
  border-radius: 4px;
  margin-bottom: 0;
}
.panel {
  border-radius: 4px;
}

[class*=" icon-"]::before, [class^="icon-"]::before {
  font-family: inherit;
}
[class*=" icon-"], [class^="icon-"] {
  height: inherit;
  margin-right: inherit;
}

#wrap {
  border: 0;		// remove padding
  margin: 0 auto;
  padding: 0;
  max-width: inherit;
  border-radius: inherit;
}

/* Fix responsive layout */
@media (max-width: 700px) {
.headerbar, .navbar, .forabg, .forumbg, .post, .panel {
  margin-left: 0;
  margin-right: 0;
  }
}

select {
  width: inherit;
  margin-bottom: inherit;		// Fix input boxes

}
select, input[type=file], input[type=text], input[type=password], input[type=radio], input[type=checkbox], input[type=search]{
  height: inherit;
  margin: auto;		// Fix input boxes
}

.uneditable-input, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"], input[type="search"], select, textarea {
  border-radius: inherit;
}


label, input, button, select, textarea {
  line-height: inherit;  // fix submit button, input box height
}

address, label, legend, pre {
  display: inline; // fix login form
}

.caret {
  display: inline;
  border-top: 0;
  border-right: 0;
}

.pagination {
  margin: 0;
}

h1, h2, h3 {
  line-height: inherit;
}

.row .pagination {
  float: right;
  margin-top: -12px;
  margin-bottom: 0;
}

/* Notification footer */
.footer {
  padding-top: 0;
  padding-bottom: 0;
  background-color: inherit;
  background-image: none;
}
/* fix dropdown */
.hidden {
  visibility: inherit;
}
.buttons {
  float: left;
}

pre {
    padding: inherit;
    border: none;
    background: inherit;
    white-space: pre;
    display: inherit;
}
